body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;  
  -moz-osx-font-smoothing: grayscale;
}

.background {
  background: rgb(87,7,255);
  background: linear-gradient(34deg,
              rgba(87,7,255,1) 0%, 
              rgba(127,9,255,1) 22%,
              rgba(255,14,255,1) 100%);
}

legend {
  position: relative;
  z-index: 0;
  display: inline-block;
  width: auto;
  margin:0;
  margin-bottom: 40px;
  font-family: 'Work Sans', sans-serif;
}

legend::before {
  position: absolute;
  content: '';
  width: calc(120% );
  padding: 50px auto;
  display: block;
  border: 2px solid white;
  height: 40px;
  z-index:-1;
  left: -35px;
  right: -30px;
  border-radius: 0.3rem;
  transform: rotate(-1.2deg);
  transition: transform .3s ease;
}

legend:hover::before{
  transform: rotate(2deg);
}

form.card{
  border: none;
}

label {
  font-family: 'Work Sans', sans-serif;
  font-size: 22px;
}

.btn-outline-light:hover {
 color: rgb(87,7,255);
}

input::placeholder {
  color:  rgba(127,9,255,1) !important;
  font-weight: normal !important;
}

input {
  color:  rgba(127,9,255,1) !important;
  font-weight: bold !important;
}

h2 {
  margin-top: 1rem ;
  margin-bottom: 0;
  font-family: 'Work Sans', sans-serif;
}
.border {
  border-radius: 3rem;
  height: 3px;
  margin: 0px;
  padding: 0px;
  text-align:center;
  padding-bottom:5px;
  background: 
    linear-gradient(
      34deg, 
      rgba(255,14,255,1) 0%,
      rgba(127,9,255,1) 65%,
      rgba(87,7,255,1) 100%
    )
    repeat; 
  background-size:100% 5px ;
  margin-bottom: 2rem;
}

.letra {
  white-space: pre-wrap;
  
}

.card img {
  width: 100%;
  margin-bottom: 1rem;
}

.card {
  background-color: #44c2f02a;
  border-radius: 1rem;
}
.card-body i {
  font-size: 3rem;
  margin-right: 3rem;
}

.fa-facebook {
  color: #3b5998;
}
.fa-twitter {
  color: #0084b4;
}
.fa-lastfm {
  color: #d51007;
}


@media (max-width: 600px) {
  legend {
    width: 200px;
  }
  
  legend::before {
    width: calc(120%);
    height: 78px;
    z-index:-1;
    left: -20px;
    right: -30px;
  }

  .background {
    background: rgb(87,7,255);
    background: linear-gradient(34deg,
                rgba(87,7,255,1) 0%, 
                rgba(127,9,255,1) 33%,
                rgba(255,14,255,1) 100%);
  }
}